{
  "extends": [
    "react-app",
    "airbnb"
  ],
  "plugins": [
    "jsx-a11y"
  ],
  "rules": {
    "jsx-a11y/click-events-have-key-events": "off",
    "no-tabs": "off",
    "react/jsx-indent": "off",
    "indent": "off",
    "linebreak-style": "off",
    "semi": 0,
    "max-len": [
      120
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}