.categoriesContainer2{
  max-height:300px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
.categoryManager{
  text-align: center;
    height: 120px;
}
.homePage{
  font-size: 20px;
  width: 4%;
  height: 100%;
  background-color: cornflowerblue;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

.InputAndAddContainer{
  display: flex;
  justify-content: center;
  width: 100%;

}
.takePlace{
  width:10%;
}

.categoriesList{
  width: 100%;
  height: 150px;

}
.updateCategory{
  width: 30%;
  height: 50%;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.done{
  width: 100px;
  font-size:20px;
}
.addCategoryButton{
  font-size: 40px;
  width: 15%;
  background-color: blue;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;

}

.addCategoryInputContainer{
  display: flex;
  justify-content: center;
  text-align: center;
}
.addCategoryInput{
  font-size: 40px;
  width: 45%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}