.filtersContainer{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.selectCategory{

  background-color: DodgerBlue;
  height: 55px;
  width: 70px;
  
}
.searchedNameContainer{
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.searchedName{
  text-align: center;
  height: 50px;
  justify-content: space-between;
  align-content: center;

}